@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:400,600,700');

/* ==============
  General
===================*/
body {
  background: #f1f1f2;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: #f1f1f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #262c30;
  margin: 10px 0;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  line-height: 43px;
}
h2 {
  line-height: 35px;
}
h3 {
  line-height: 30px;
}
h3 small {
  color: #444444;
}
h4 {
  line-height: 22px;
}
* {
  outline: none !important;
}
a:hover {
  outline: 0;
  text-decoration: none;
}
a:active {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
.container {
  width: auto;
}
.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer {
  background-color: #262c30;;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  color: whitesmoke;
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
}
#envoltura   {
  height: 100%;
  overflow:  hidden;
  width: 100%;
}

/*
 Menu
*/
.barra-top {
  background: #ffffff;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

}
.barra-top .barra-top-izquierda {
  background-color: #31393e;
  float: left;
  height: 70px;
  position: relative;
  width: 240px;
  z-index: 1;
  text-align: center;
    
}
.logo{
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 70px;
}
.logo span,
.menu-lateral {
  bottom: 0;
  top: 0;
  width: 240px;
}
.menu-lateral.izq {
  background: #262c30;
  box-shadow: 1px 0 10px rgba(38, 44, 48, 0.12);
  position: absolute;
  top: 70px;
  z-index: 99;
}
/* CONTENIDO DE LA PAGIA*/
.pagina-contenido {
  margin-left: 240px;
  overflow: fixed;
}
.pagina-contenido > .contenido {
  margin-bottom: 10px;
  margin-top: 80px;
  padding: 20px 5px 15px 5px;
}


.menu-dentro {
  height: 100%;
}
#menu-barra,
#menu-barra ul,
#menu-barra li,
#menu-barra a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

#menu-barra {
  background-color: #262c30;
  padding-bottom: 50px;
  width: 100%;
}
#menu-barra a {
  line-height: 1.3;
}

#menu-barra > ul > li > a {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  padding: 15px 25px;
  background-color: #262c30;
  height: 50px !important;
  line-height: 1.5;
}

#menu-barra > ul > li > a:hover 
{
  color: black;
  background-color: #ffffff
}
#menu-barra .activado > a {
    
  color: black;
  background-color: #ffffff
}

/* CSS PARA TABLA */
#m_tabla { 
  position: relative;
  padding-top: 30px;
  background-color:azure;
  padding-bottom: 30px;
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
}
#table_re
{
    background: white;
    border:solid;
    margin-left: 100px;
    margin-right: 100px;
}

#tabla_ad
{
    background: white;
    border:solid;
    margin-left: 10px;
    margin-right: 10px;
}

.row > table >thead
{
    background: white;
}

.detalles-usuario {
  min-height: 80px;
  padding: 20px;
  position: relative;
}
.detalles-usuario img {
  position: relative;
  z-index: 9999;
  height: 64px;
  width: 64px;
}
.detalles-usuario .info-usuario {
  text-align: center;
}
.detalles-usuario .info-usuario a.dropdown-toggle {
  color: #ffffff;
  display: block;
  font-size: 15px;
  font-weight: 700;
  padding-top: 5px;
  margin-bottom: 5px;
}
pagina-contenido .cabecera-titulo img {
    width:100%;
    max-width:400px;
    
}

.cabecera-titulo {
  margin: -20px -5px 0px -5px;
  padding: 10px 15px 10px 20px;
  margin-left: 325PX;
}

.cabecera-titulo .titulo-pagina {
  margin-bottom: 12px;
  font-size: 30px;
  text-align: center;
   
}
